<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Answer Base</title>
    <link rel="shortcut icon" href="/Users/anthonyarroyo/Desktop/_FliptProject/favicon.ico">
    <link href='{{ MEDIA_URL }}/media/fliptstyle.css' rel='stylesheet' type='text/css'/>
    <link href='http://ajax.go:gleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script> 
</head>
<body>
    <div id="container">
        <div id="navigation">
            <div class="col-full">
                <div id="logo">
                </div>
                <ul>
                    <li><a href="http://www.anthonyarroyodotcom.com/theabletoncookbook">Blog</a></li>
                    <li><a href="/Users/anthonyarroyo/Desktop/_FliptProject/answerbaseprototype.html" class="thisPage">Answers</a></li>
                    <li><a href="/Users/anthonyarroyo/Desktop/_FliptProject/coursetheaterprototype.html">Course</a></li>
                    <li><a href="">Profile</a></li>
                </ul>
            </div>
        </div>
        <div id="content" class="col-full">
            <div id="main" class="fullwidth">
                <div id="answerContentMain" class="results">
                    <h2 id="answerListHeader">Recently Asked Questions </h2>
                    <br>
                    <a href="/newquestion" id="newQuestionLink">Ask a New Question</a>
                    <ul id="answerContentMainUl">
                        {% for question in question_list %}
                        <li id="" class="answerTitle"><a href="/question/{{ question.id }}">{{ question.question }}</a></li><ul><li class="answerExcerpt">{{ question.explanation }}<span class=askedOn>{{ question.askedOn }}</span></li></ul>
                        {% endfor %}
                    </ul>
                </div>
                <div id="answerSidebar" class="sidebarResults">
                    <div class="sidebarMenu">
                    <h3>Recently Asked</h3>
                    <ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                        </ul>
                    </div>
                    <div class="sidebarMenu">
                    <ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        <div id="footer">
            <div id="main" class="fullwidth">
            </div>
        </div>
        -->
    </div>
</body>
</html>
