<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Post a New Question</title>
    <link href='/media/fliptstyle.css' rel='stylesheet' type='text/css'/>
    <link href='tag-it/css/jquery.tag-it.css' rel='stylesheet' type='text/css'/>
    <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script> 
    <!-- <script type="text/javascript" src='flipt.js' charset="utf-8"></script> -->
</head>
<body>
    <div id="container">
        <div id="navigation">
            <div class="col-full">
                <div id="logo">
                </div>
                <ul>
                    <li><a href="http://www.anthonyarroyodotcom.com/theabletoncookbook">Blog</a></li>
                    <li><a href="/questions" class="thisPage">Answers</a></li>
                    <li><a href="/Users/anthonyarroyo/Desktop/_FliptProject/coursetheaterprototype.html" >Course</a></li>
                    <li><a href="">Profile</a></li>
                </ul>
            </div>
        </div>
        <div id="content" class="col-full">
            <div id="main" class="fullwidth">
                <div id="singleAnswerContentMain" class="results">
                    <h2 id="answerListHeader">Ask a New Question</h2>
                    <div id="newQuestion">
                        <form action="newquestionsubmit" method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <input type="text" id="questionTitle" name="questionTitle" value="" />
                            <div>
                                <textarea id="questionBody" name="questionBody" rows="8" cols="40"></textarea>
                            
                         </div>
                         <!--
                         the base html for a tagging system
                         <ul id="mytags" class="tagit ui-widget ui-widget-content ui-corner-all">
                            <li class="tagit-choice ui-widget-content ui-state-default ui-corner-all">
                            <span class="tagit-label">Tag1</span>
                            <a class="close"><span class="ui-icon ui-icon-close"></span></a>
                            <input type="hidden" style="display:none;" value="Tag1" name="item[tags][]"/>
                            </li>
                            <li class="tagit-choice ui-widget-content ui-state-default ui-corner-all">
                            <span class="tagit-label">Tag2</span>
                            <a class="close"><span class="ui-icon ui-icon-close"></span></a> 
                            <input type="hidden" style="display:none;" value="Tag2" name="item[tags][]"/>
                            </li>
                            <li class="tagit-new">
                            <input type="text" class="ui-widget-content ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"/>
                            </li>
                            </ul>
                            -->
                        <p><input id="newQuestionSubmit" type="submit" value="Post Question" />

                        <a id="newQuestionCancelLink" href="/questions">Cancel</a>
                        <label>Subscribe to this question?</label>
                        <input id="newQuestionSubscribe" type="checkbox" name="subscribe" value="subscribe" /></p>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="footer">
            <div id="main" class="fullwidth">
            </div>
        </div>
    </div>
</body>

</html>
