<style type="text/css" media="screen">
    body {
        font-family: Helvetica, Arial, sans-serif;
    }
    .title {
        font-size: 3em;
    }
    .answer {
        font-weight: bold;
    }
    .answeredBy {
        color: blue;
    }
</style>
<div class="title">{{ question.question }}</div>
{{ question.id }}

{% if answers %}
    <p>Answers: </p>
    {% endif %}

{% for answer in answers %}
    {{ answer.answer }}
{% endfor %}

<form action="/answer/{{  question.id }}" method="POST">{% csrf_token %}
    <div id="answerForm">
        Name: {{ form.answeredBy }}
        <p>{{ form.answer }}</p>
        <p>{{ form.votes }}</p>
    </div>
    <div id="submit"><input type="submit" value="Submit"></div>
</form>

