<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>{{ question.question }}</title>
    <link rel="shortcut icon" href="/Users/anthonyarroyo/Desktop/_FliptProject/favicon.ico">
    <link href='/media/fliptstyle.css' rel='stylesheet' type='text/css'/>
    <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script> 
</head>
<body>
    <div id="container">
        <div id="navigation">
            <div class="col-full">
                <div id="logo">
                </div>
                <ul>
                    <li><a href="http://www.anthonyarroyodotcom.com/theabletoncookbook">Blog</a></li>
                    <li><a href="/questions" class="thisPage">Answers</a></li>
                    <li><a href="/Users/anthonyarroyo/Desktop/_FliptProject/coursetheaterprototype.html">Course</a></li>
                    <li><a href="">{{ user }}</a></li>
                </ul>
            </div>
        </div>
        <div id="content" class="col-full">
            <div id="main" class="fullwidth">
                <div id="singleAnswerContentMain" class="results">
                    <h2 id="answerListHeader1">{{ question.question }}</h2>
                    <div id="questionExcerpt">
                        {{ question.explanation }}
                    </div>
                        <div id="answers">
                            {% for answer in answers %}
                            <div id="{{ answer.id }}" class="answer">
                                <div class="voteBox">
                                    <span class="up">up</span><span class="votes">{{ answer.votes }}</span><span class="down">down</span>
                            </div>
                            <li class="answertitle">{{ answer.answer }}</li><br><span class="answeredBy">{{ answer.answeredBy }}</span>
                            </div>
                            {% endfor %}
                        </div>

                        <form id="newAnswerSubmit" action="newanswersubmit/{{ question.id }}" method="post" accept-charset="utf-8">
                            {% csrf_token %}
                        <textarea id= "newanswer" name="newanswer"></textarea> 
                    
                    
                    <p><input id="newAnswerSubmitButton" type="submit" value="Answer" />
                    <input id="newAnswerCancelButton" type="button" value="Whoops" /></p>
                    </form>
                </div>
                <div id="answerSidebar" class="sidebarResults">
                    <div class="sidebarMenu">
                    <h2 id="sidebarHeader">Recently Asked</h2>
                    <ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                        </ul>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        <div id="footer">
            <div id="main" class="fullwidth">
            </div>
        </div>
        -->
    </div>
</body>
<script>
    $(document).ready(function(){
        // changes the vote appearance. Still needs to send POST to server to change actual vote count
        var votelog = [];
        $(".up").click(function(){
            var id = $(this).parent().parent().attr("id");
                if ($.inArray(id, votelog) == -1){
                var i = parseInt($(this).next().text());
                $(this).next().text(i + 1);
                votelog.push(id);
            };
            //alert(votelog);
            //alert(votelog.length);
            //alert($.isArray(votelog));
            //alert($.inArray(id, votelog));
    });
        $(".down").click(function(){
            var id = $(this).parent().parent().attr("id");
                if ($.inArray(id, votelog) == -1){
                var i = parseInt($(this).prev().text());
                $(this).prev().text(i - 1);
                votelog.push(id);
            }
    });

    });
</script>
</html>
