{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrastyle %}{% load adminmedia %}{{ block.super }}
<style>
    body {
        font-family: 'Droid Sans', Arial, sans-serif;
    
    }
    #footer {
        display: none;
    }
    #container {
        width: 100%;
    }
    #content.colM {
        width: 530px;
        margin-left: auto;
        margin-right: auto;
    }
    #header {
        background-color: black;
    }
    #header #branding h1 {
        color: white;
        font-size: 2em;
        font-weight: bold;
    }
    .post {
        height: 300px;
        margin-top: 80px;
        font-size: 3em;
        border-radius: 20px;
        padding: 1em;
    }
    #id_username, #id_password {
        font-size: .7em;
    }
    div #user-tools {
        color: lightpurple;
        display: none;
    }
    #user-tools a{
    }
    .submit-row input[type="submit"]{
        font-size: .5em;
        float: left;
    }
    .form-row {
        width: 200px;
    }
    #login-form {
        width: 450px;
    }
    #content-main.post {
        width: 450px;
    }

</style> 
{% endblock %}




    <div id="navigation">
        <div class="col-full">
        <div id="logo">
        </div>
        {% block breadcrumbs %}{% endblock %}   
        </div>
    </div>


{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main" class="post">
<div id="logo">
</div>
    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    <label for="id_username">{% trans 'Username:' %}</label> <input type="text" name="username" id="id_username" />
  </div>
  <div class="form-row">
    <label for="id_password">{% trans 'Password:' %}</label> <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
  </div>
  <div class="submit-row">
      {{ password_change_url }}
    <label>&nbsp;</label><input class="followbutton" type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>
</div>
<script type="text/javascript">

document.getElementById('id_username').focus()
</script>
{% endblock %}
