<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700' rel='stylesheet' type='text/css'>

body  { 
    font: 14px;
    font-family: 'Droid Serif', serif;
}

h1, h2, h3, h4, h5, h6  { 
    margin: 0; 
    font-family: 'Droid Sans', sans-serif; 
    color: #000; 
}

h1  {
    font-size: 30px;
} 

h2  {
    font-size: 24px;
} 

h3  {
    font-size: 20px;
} 

h4  {
    font-size: 18px;
} 

h5  {
    font-size: 14px;
} 

h6  {
    font-size: 12px;
}

p  {margin: 0;}

/* 1.2 Hyperlinks */

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited  { text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover  {text-decoration: underline;}

/* 2.1 Containers & Columns */
#container  {
}

.col-left { 
    float: left; 
}

.col-right { 
    float: right; 
}

.col-full  { 
    width: 970px; 
    margin: 0 auto; 
}

/* 2.2 Navigation */

#navigation  { 
    color: white; 
    height: 60px; 
    text-transform: uppercase; 
    font-size: 1em; 
    background-color: #000; 
}

#navigation a.thisPage {
    color: purple;
}

/* 2.3 Header */
#topsearch  { 
    width: 300px; 
    line-height: 0; 
}
#topsearch #searchform_top  { 
    margin: 14px 0 0 0; 
}

#header {
    padding:45px 0;
    clear:both;
    position:relative;
}

#logo  {
    float: left;
    height: 60px;
    width: 450px;
    background-image: url(flipt_TAC_logo.png); 
}

/* 2.4 Content */

#content{
    min-height:550px;
    padding:0;
}

#main{
    width:620px;
}

#main.fullwidth  { 
    width: 970px; 
    margin-top: 25px;
}


/* 2.7 Footer */
#footer  { 
    font-family 'Droid Sans', sans-serif; 
    font-size: 11px; padding: 20px 0; 
    background-color: #000; 
    color: #fff; 
    text-transform: uppercase; 
    width: 100%;
    margin-top: 20px;
    float: left;
}

.post  { 
    width: 960px; 
    position: relative; 
    margin: 0 0 0 0; 
    padding: 0 0; 
    background-color: #fff; 
    border: 5px solid #efefef; 
}

body  { 
    margin: 0;
    background: #fff url(grey/bodytile.jpg) repeat left top; 
}


#vidContainer {
    position: relative;
    height: 400px;
    width: 960px;
    display: block;
}

#info {
    margin: 20px 0 20px 0;
    position: relative;
    min-height: 200px;
    width: 960px;
    display: block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float: left;
}
.results,  {
    color: #606060;
    /*
    display: none;
    */
}
.results,  a {
    text-decoration: none;
    display: block;
}

.results,  a:visited {
    color: #606060;
}
li.resultTitle:hover, li.answerTitle:hover {
    color: black;
}

.results,  ul {
    list-style: none;
    padding-left: .6em;
}
.results ul ul {
}
.results li.resultTitle, li.answerTitle  {
    font-family: 'Droid Sans', Arial, sans-serif;
    font-size: 1.1em;
    padding: .2em;
    margin-top: .2em;
    cursor: pointer;
}
.results li.resultExcerpt, li.answerExcerpt {
    font-weight: normal;
    font-size: .9em;
}
#vid {
    height: 400px;
    width: 710px;
}

span.answeredBy, span.askedOn {
    font-family: 'Droid Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: .8em;
    margin-left: 1.2em;
    cursor: pointer;
}

span.askedOn {
    float: right;
}

#queryResults span.noAnswer {
    color: red;
}

span.answeredBy:hover {
    color: black;
}
#vidList {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 400px;
    width: 250px;
    overflow: auto;
}

#vidList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#vidList li {
    color: #606060;
    display: block;
    padding: .3em;
    padding-left: 1em;
    border-top: solid 1px #efefef;
    cursor: pointer
}
#vidList li:hover {
    color: black;
    background-color; #efefef;
}

#vidList li a:hover {
    color: black;
    background-color; #efefef;
}

#vidList .isPlaying {
    background-color: #D9B2D9;
    color: black;
}

#vidListHeader {
    text-align: center;
    padding: .3em; 
}
#answerListHeader, #answerListHeader1 {
    padding: .5em;
    margin: 0;
    border-bottom: solid 1px lightgrey;
}

hr {
    width: 75%;
}

#vidNav {
    margin-left: 5px;
    width: 710px;
    /*
    height: 32px;
    */
    list-style: none;
    font-family: 'Droid Sans', Arial, sans-serif;
    font-weight: bold;
    color: black;
    float: left;

}

#vidNav li {
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;  
    background-color: #f0f0f0;
    -moz-box-shadow: inset 0 -1px 1px 0px #D0D0D0;
    -webkit-box-shadow: inset 0 -1px 1px 0px #D0D0D0;
    box-shadow: inset 0 -1px 1px 0px #909090;
    -moz-text-shadow: 0 -1px 1px #909090;
    -webkit-text-shadow: 0 -1px 1px #909090;
    text-shadow: 0 -1px 1px #D0D0D0;  
    padding: .5em .5em .5em .5em;
    text-align: center;
}

#vidNav li:active {
    -moz-box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    /*
    background-color: #D9B2D9;
    */
    border: solid 1px #D9B2D9;
}

#vidNav li.deactivated {
    color: grey;
    border: 0;
    -moz-box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

#vidNav li.deactivated:hover {

    cursor: normal !important;
}
#vidNav #prev {
    float: left;
}
    
#vidNav #next {
    float: right;
    margin-right: .7em;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 1em 0 1em 1em;
}
#navigation li {
    float: right;
    font-weight: bold;
}

#navigation li a {
    float: right;
    margin: 0 0 0 2em;
    padding-right: .6em;
    padding-left: .6em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#questionBar {
    float: left;
    margin-top: 20px;
}

.voteBox {
    float: left;
    text-align: center;
    margin-right: .5em;
}
.voteBox span {
    display: block;
}
span.up {
    padding-top: 0;
}

.votes {
    color: purple;
}
.up, .down {
    font-weight: bold;
    padding: .5em;
    cursor: pointer;
}

#questionBar form #tags, #newQuestion input[type="text"], #newQuestion textarea, #newAnswerSubmit textarea {
    font-family: 'Droid Sans', Arial, sans-serif;
    margin-left: 10px;
    /*
    */
    font-size: 1em;
    width: 690px;
    color: black;
    border: solid 2px #efefef;
}
#newAnswerSubmit textarea {
    width: 95%;
    min-height: 150px;
}

#newQuestion {
}

#newQuestion input[type="text"]{
    margin-left: 5px;
    margin-top: 10px;
}

#newQuestion textarea {
    margin-left: 5px;
}

#newQuestionSubscribe input[type="checkbox"] {
}

#questionBar #questionSubmit, #newQuestionSubmit, #newQuestionCancel, #newAnswerSubmitButton, #newAnswerCancelButton, #newQuestionLink, #newQuestionCancelLink {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;  
    background-color: #f0f0f0;
    -moz-box-shadow: inset 0 -1px 1px 0px #D0D0D0;
    -webkit-box-shadow: inset 0 -1px 1px 0px #D0D0D0;
    box-shadow: inset 0 -1px 1px 0px #909090;
    -moz-text-shadow: 0 -1px 1px #909090;
    -webkit-text-shadow: 0 -1px 1px #909090;
    text-shadow: 0 -1px 1px #D0D0D0;  
    /*
    padding: .5em .5em .5em .5em;
    */
    text-align: center;
    font-family: 'Droid Sans', Arial, sans-serif;
    font-size: 1em;
    border: 0;
    margin-bottom: 5px;
}
#newQuestionLink {
    padding: .2em;
    color: black;
    float: right;
}
#newQuestionCancelLink {
    text-decoration: none;
    display: inline;
    color: black;
    padding: .2em;
}
#questionBar #questionSubmit:active, #newQuestionSubmit:active, #newQuestionCancel:active, #newAnswerSubmitButton:active, #newAnswerCancelButton:active {
    -moz-box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    /*
    background-color: #D9B2D9;
    */
    border: solid 1px #D9B2D9;
}
#questionExcerpt {
    font-size: 1.1em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#answers {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #efefef;
}
.answer {
    margin: 2em 2em 2em 0;
    padding: 1em;
    font-family: 'Droid Sans', Arial, sans-serif;
    border-bottom: solid 1px white;
}

.answer:last-child {
}
#navigation a:link, #navigation a:visited  { 
    display:block; 
    z-index:100; 
    line-height:35px; 
    font-family: 'Droid Sans', sans-serif; 
    text-decoration: none; 
    color: white; 
}

#navigation a:hover, a.thisPage { 
    background-color: #101010;
    /*
    color: #303030;
    */
    color: white;
    -moz-box-shadow: inset 0 -1px 1px 0px #D0D0D0;
    -webkit-box-shadow: inset 0 -1px 1px 0px #D0D0D0;
    box-shadow: inset 0 -1px 1px 0px #909090;
    -moz-text-shadow: 0 -1px 1px #909090;
    -webkit-text-shadow: 0 -1px 1px #909090;
    text-shadow: 0 -1px 1px #D0D0D0;

}

#navigation a.thisPage {
    cursor: default;
}

#announce {
    color: white;
    font-family: 'Droid Sans', Arial, sans-serif;
    margin: 0 0 25px 0 ;
    width: 970px;
    text-align: center;
    padding: 1em 0 .5em 0;
    min-height: 25px;
    background-color: purple;
    display: none;
}

#answerContentMain, #singleAnswerContentMain {
    min-height: 640px;
    border: 0;
    width: 680px;
    float: left;
    position: relative;
    display: block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff; 
    border: 5px solid #efefef; 
    padding: 1em;

}

#singleAnswerContentMain {
    /*
    display: none;
    */
}

#answerContentMain {
}

#queryResults {
    display: none;
}

.results {
    color: #606060;
}

.results a {
    text-decoration: none;
}

#answerSidebar {
    min-height: 400px;
    width: 260px;
    float: right;
    padding: 0;
    display: none;
}

.sidebarMenu {
    min-height: 400px;
    border: 0;
    width: 240px;
    position: relative;
    display: block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff; 
    border: 5px solid #efefef; 
    margin: 0 0 20px 0;
    padding-top: .8em;
}

.sidebarMenu h3 {
    text-align: center;
    padding: .7em 0 0 0;
}

