<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Answer Base</title>
    <link rel="shortcut icon" href="/Users/anthonyarroyo/Desktop/_FliptProject/favicon.ico">
    <link href='/media/fliptstyle.css' rel='stylesheet' type='text/css'/>
    <link href='http://ajax.go:gleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script> 
</head>
<body>
    <div id="container">
        <div id="navigation">
            <div class="col-full">
                <div id="logo">
                </div>
                <ul>
                    <li><a href="http://www.anthonyarroyodotcom.com/theabletoncookbook">Blog</a></li>
                    <li><a href="/Users/anthonyarroyo/Desktop/_FliptProject/answerbaseprototype.html" class="thisPage">Answers</a></li>
                    <li><a href="/Users/anthonyarroyo/Desktop/_FliptProject/coursetheaterprototype.html">Course</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/accounts/profile">{{ user.username }}</a></li>
                    {% else %}
                    <li><a href="/accounts/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="content" class="col-full">
            <div id="main" class="fullwidth">
                <div id="answerContentMain" class="results">
                    <h2 id="answerListHeader">Is This What You're Looking For?</h2>
                    <br>
                    <a href="/newquestion" id="newQuestionLink">Ask a New Question</a>
                    <ul id="answerContentMainUl">
                        {% for result in page.object_list %}
                        <li id="" class="answerTitle"><a href="{{ result.object.get_absolute_url }}">{{ result.object.question }}</a></li><ul><li class="answerExcerpt">{{ result.object.explanation }}<span class=askedOn>{{ result.object.askedOn }}</span></li></ul>
                        {% empty %}
                        <br><br><br><div style="color: black;text-align: center;"><p ><h2 style="text-shadow: 1px 1px 1px grey; color: purple;">El Zilcho.</h2> <br>Why not ask a new question?</p></div>
                        {% endfor %}
                    </ul>
                </div>
                <div id="answerSidebar" class="sidebarResults">
                    <form  action="http://localhost:8000/search/" method="get" accept-charset="utf-8">
                        <input id="abasesearch" type="text" name="q" value="" />
                        
                    
                    
                    <input id="abasesubmit" type="submit" value=" ? " />
                    </form>
                    <div class="sidebarMenu">
                    <h2 id="sidebarHeader">Recently Asked</h2>
                    <ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                            <li class="resultTitle"><a href="">An answer title</a></li>
                            <ul>
                                <li class="resultExcerpt">the first line of an answer</li>
                            </ul>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        <div id="footer">
            <div id="main" class="fullwidth">
            </div>
        </div>
        -->
    </div>
</body>
<script>
    $(document).ready(function(){
        $(function() {
            $( "#abasesearch" ).autocomplete({
            
                source: "../autocomplete/"
            });
        });
    });

</script>
</html>
